*.DS_Store

*.swp
__pycache__

# latex stuff
*.aux
*.log

**/segments/*/music.pdf
**/builds/*/*.pdf
**/builds/*/*.midi

# directory where I store some lilypond examples that I reference to
lilypond_examples
